## Work Based on Jessica McKellar's Intermediate Python Jeopardy Play

### In this notebook, I am messing around with data frames, code, etc...  
#### integration of sqlite in Python
#### moving data from one data structure to another
#### refactoring to streamline code

In [13]:
import sqlite3

In [14]:
connection = sqlite3.connect('jeopardy.db')

In [15]:
type(connection)

sqlite3.Connection

In [16]:
cursor = connection.cursor()

In [17]:
cursor.execute('SELECT name FROM category')

In [18]:
results = cursor.fetchall()

In [19]:
#results

In [20]:
results[2]

('ASIAN HISTORY',)

In [47]:
#for category in results:
#    print(category[0])

In [22]:
#cursor.execute('SELECT text, answer, value FROM clue').fetchall()

In [23]:
results = cursor.fetchall()

#### transform list of tuples into dict of lists

In [24]:
sql_query = f'''SELECT text, answer, value 
                FROM clue
                '''
data_dump = cursor.execute(sql_query).fetchall()

In [25]:
data_dump[:2]

[('The original author’s last story about this detective was “The Adventure of Shoscombe Old Place”',
  'Sherlock Holmes',
  200),
 ('In “The Big Sleep” he says, “I’m 33 years old, went to college once & can still speak English if there’s any demand for it”',
  'Marlowe',
  400)]

In [38]:
dict_of_lists = {'text':[],
                'answer': [],
                'value': [],
                }
for i , header in enumerate(dict_of_lists):
    print(i, header)
    for row in data_dump:
        dict_of_lists[header].append(row[i])

0 text
1 answer
2 value

In [43]:
#dict_of_lists['value']

In [45]:
dict_of_lists.keys()

dict_keys(['text', 'answer', 'value'])

#### verify dataframe is legit

In [46]:
import pandas as pd
pd.DataFrame(dict_of_lists)

,text,answer,value
0,The original author’s last story about this de...,Sherlock Holmes,200
1,"In “The Big Sleep” he says, “I’m 33 years old,...",Marlowe,400
2,In the April 1841 Graham’s Lady’s and Gentlema...,Poe,600
3,"Let's all flock to read Psalm 95, in which hum...",sheep,200
4,Some say the screech owl in the King James Bib...,Adam,400
...,...,...,...
130364,"He concluded a 1775 speech, ""But as for me, gi...",Patrick Henry,200
130365,"Before his own death, this pop artist said, ""D...",Andy Warhol,400
130366,"He told James Boswell, ""The better a man is, t...",Samuel Johnson,600
130367,"Ernest Hemingway called it ""The only art in wh...",Bullfighting,1900
130368,A 900-year-old organization expelled in 1798 w...,Malta,0