In [1]:
#pip install statsmodels

In [40]:
import pandas as pd
import numpy as np
#mod max row display count
pd.set_option('display.max_rows', 1000)

In [41]:
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [42]:
#pip install researchpy

In [43]:
tips.mean(axis = 'index')

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [44]:
grouped_tips_sex = tips.groupby("smoker")

In [45]:
mean_tips_sex = grouped_tips_sex.mean()

In [46]:
mean_tips_sex

        total_bill       tip      size
smoker
Yes      20.756344  3.008710  2.408602
No       19.188278  2.991854  2.668874

In [47]:
df = pd.DataFrame(tips)
grouped_multiple = df.groupby(['smoker', 'sex']).agg({'tip': ['mean', 'min', 'max','std']})
grouped_multiple.columns = ['tips_mean', 'tips_min', 'tips_max','tips_stddev']
print(grouped_multiple)

               tips_mean  tips_min  tips_max  tips_stddev
smoker sex
Yes    Male     3.051167      1.00      10.0     1.500120
       Female   2.931515      1.00       6.5     1.219916
No     Male     3.113402      1.25       9.0     1.489559
       Female   2.773519      1.00       5.2     1.128425

In [48]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

model = ols('tip' ~ C('sex') + C('smoker') + C('tip'):C('smoker')', data=df).fit()
sm.stats.anova_lm(model, typ=2)

In [49]:
formula = 'tip ~ C(smoker) + C(sex) + C(smoker):C(sex)'
model = ols(formula, df).fit()
aov_table = anova_lm(model, typ=2)
print(aov_table.round(2))

                  sum_sq     df     F  PR(>F)
C(smoker)           0.02    1.0  0.01    0.93
C(sex)              3.67    1.0  1.91    0.17
C(smoker):C(sex)    0.64    1.0  0.33    0.56
Residual          460.88  240.0   NaN     NaN