In [1]:
import pandas
import pandas as pd
pd.set_option('display.max_rows', 1000)

In [2]:
pandas.__version__

'1.1.5'

In [3]:
pandas.read_csv('data/gapminder.tsv', sep='\t')

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
df = pandas.read_csv('data/gapminder.tsv', sep='\t')

In [5]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.shape

(1704, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [9]:
#import typing
#from typing import int
df.head(n=10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [10]:
df.tail(5)

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [11]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [12]:
type(df.values)

numpy.ndarray

In [13]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [14]:
country = df['country']

In [15]:
type(country)

pandas.core.series.Series

In [16]:
country = df[['country']]

In [17]:
type(country)

pandas.core.frame.DataFrame

In [18]:
df.drop(['continent'], axis = 'columns')

          country  year  lifeExp       pop   gdpPercap
0     Afghanistan  1952   28.801   8425333  779.445314
1     Afghanistan  1957   30.332   9240934  820.853030
2     Afghanistan  1962   31.997  10267083  853.100710
3     Afghanistan  1967   34.020  11537966  836.197138
4     Afghanistan  1972   36.088  13079460  739.981106
...           ...   ...      ...       ...         ...
1699     Zimbabwe  1987   62.351   9216418  706.157306
1700     Zimbabwe  1992   60.377  10704340  693.420786
1701     Zimbabwe  1997   46.809  11404948  792.449960
1702     Zimbabwe  2002   39.989  11926563  672.038623
1703     Zimbabwe  2007   43.487  12311143  469.709298

[1704 rows x 5 columns]

In [19]:
df.loc[[0,1]]

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [20]:
df.iloc[[0,1,-1]]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [21]:
df.iloc[::-20]

,country,continent,year,lifeExp,pop,gdpPercap
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298
1683,Zambia,Africa,1967,47.768,3900000,1777.077318
1663,West Bank and Gaza,Asia,1987,67.046,1691210,5107.197384
1643,Venezuela,Americas,2007,73.747,26084662,11415.805690
1623,Uruguay,Americas,1967,68.468,2748579,5444.619620
1603,United Kingdom,Europe,1987,75.007,56981620,21664.787670
1583,Turkey,Europe,2007,71.777,71158647,8458.276384
1563,Tunisia,Africa,1967,52.053,4786986,1932.360167
1543,Togo,Africa,1987,56.941,3154264,1202.201361
1523,Tanzania,Africa,2007,52.517,38139640,1107.482182
1503,Taiwan,Asia,1967,67.500,13648692,2643.858681
1483,Switzerland,Europe,1987,77.410,6649942,30281.704590
1463,Swaziland,Africa,2007,39.613,1133066,4513.480643
1443,Sudan,Africa,1967,42.858,12716129,1687.997641
1423,Spain,Europe,1987,76.900,38880702,15764.983130
1403,Somalia,Africa,2007,48.159,9118773,926.141068
1383,Slovenia,Europe,1967,69.180,1646912,9405.489397
1363,Singapore,Asia,1987,73.560,2794552,18861.530810
1343,Serbia,Europe,2007,74.002,10150265,9786.534714
1323,Senegal,Africa,1967,43.563,3965841,1612.404632
1303,Sao Tome and Principe,Africa,1987,61.728,110812,1516.525457
1283,Romania,Europe,2007,72.476,22276056,10808.475610
1263,Reunion,Africa,1967,60.542,414024,4021.175739
1243,Portugal,Europe,1987,74.060,9915289,13039.308760
1223,Philippines,Asia,2007,71.688,91077287,3190.481016
1203,Peru,Americas,1967,51.445,12132200,5788.093330
1183,Panama,Americas,1987,71.523,2253639,7034.779161
1163,Oman,Asia,2007,75.640,3204897,22316.192870
1143,Norway,Europe,1967,74.080,3786019,16361.876470
1123,Niger,Africa,1987,44.555,7332638,668.300023
1103,New Zealand,Oceania,2007,80.204,4115771,25185.009110
1083,Netherlands,Europe,1967,73.820,12596822,15363.251360
1063,Namibia,Africa,1987,60.835,1278184,3693.731337
1043,Mozambique,Africa,2007,42.082,19951656,823.685621
1023,Morocco,Africa,1967,50.335,14770296,1711.044770
1003,Mongolia,Asia,1987,60.222,2015133,2338.008304
983,Mauritius,Africa,2007,72.801,1250882,10956.991120
963,Mauritania,Africa,1967,46.289,1230542,1421.145193
943,Malaysia,Asia,1987,69.500,16331785,5249.802653
923,Madagascar,Africa,2007,59.443,19167654,1044.770126
903,Libya,Africa,1967,50.227,1759224,18772.751690
883,Lesotho,Africa,1987,57.180,1599200,773.993214
863,Kuwait,Asia,2007,77.588,2505559,47306.989780
843,"Korea, Rep.",Asia,1967,57.716,30131000,2029.228142
823,Kenya,Africa,1987,59.339,21198082,1361.936856
803,Japan,Asia,2007,82.603,127467972,31656.068060
783,Jamaica,Americas,1967,67.510,1861096,6124.703451
763,Israel,Asia,1987,75.600,4203148,17122.479860
743,Iraq,Asia,2007,59.545,27499638,4471.061906
723,Iran,Asia,1967,52.469,26538000,5906.731805
703,India,Asia,1987,58.553,788000000,976.512676
683,Hungary,Europe,2007,73.338,9956108,18008.944440
663,"Hong Kong, China",Asia,1967,70.000,3722800,6197.962814
643,Haiti,Americas,1987,53.636,5756203,1823.015995
623,Guinea,Africa,2007,56.007,9947814,942.654211
603,Guatemala,Americas,1967,50.016,4690773,3242.531147
583,Ghana,Africa,1987,55.729,14168101,847.006113
563,Gambia,Africa,2007,59.448,1688359,752.749726
543,Gabon,Africa,1967,44.598,489004,8358.761987
523,Finland,Europe,1987,74.830,4931729,21141.012230
503,Eritrea,Africa,2007,58.040,4906585,641.369524
483,Equatorial Guinea,Africa,1967,38.987,259864,915.596003
463,Egypt,Africa,1987,59.797,52799062,3885.460710
443,Dominican Republic,Americas,2007,72.235,9319622,6025.374752
423,Djibouti,Africa,1967,42.074,127617,3020.050513
403,Czech Republic,Europe,1987,71.580,10311597,16310.443400
383,Croatia,Europe,2007,75.748,4493312,14619.222720
363,Cote d'Ivoire,Africa,1967,47.350,4744870,2052.050473
343,"Congo, Rep.",Africa,1987,57.470,2064095,4201.194937
323,Comoros,Africa,2007,65.152,710960,986.147879
303,Colombia,Americas,1967,59.963,19764027,2678.729839
283,Chile,Americas,1987,72.492,12463354,5547.063754
263,Central African Republic,Africa,2007,44.741,4369038,706.016537
243,Canada,Americas,1967,72.130,20819767,16076.588030
223,Cambodia,Asia,1987,53.914,8371791,683.895573
203,Burkina Faso,Africa,2007,52.295,14326203,1217.032994
183,Bulgaria,Europe,1967,70.420,8310226,5577.002800
163,Botswana,Africa,1987,63.622,1151184,6205.883850
143,Bolivia,Americas,2007,65.554,9119152,3822.137084
123,Benin,Africa,1967,44.885,2427334,1035.831411
103,Bangladesh,Asia,1987,52.819,103764241,751.979403
83,Austria,Europe,2007,79.829,8199783,36126.492700
63,Australia,Oceania,1967,71.100,11872264,14526.124650
43,Angola,Africa,1987,39.906,7874230,2430.208311
23,Albania,Europe,2007,76.423,3600523,5937.029526
3,Afghanistan,Asia,1967,34.020,11537966,836.197138

In [22]:
subset = df.loc[:,['year','pop']]

In [23]:
subset

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [24]:
df.loc[df['country'] == 'United States']

            country continent  year  lifeExp        pop    gdpPercap
1608  United States  Americas  1952   68.440  157553000  13990.48208
1609  United States  Americas  1957   69.490  171984000  14847.12712
1610  United States  Americas  1962   70.210  186538000  16173.14586
1611  United States  Americas  1967   70.760  198712000  19530.36557
1612  United States  Americas  1972   71.340  209896000  21806.03594
1613  United States  Americas  1977   73.380  220239000  24072.63213
1614  United States  Americas  1982   74.650  232187835  25009.55914
1615  United States  Americas  1987   75.020  242803533  29884.35041
1616  United States  Americas  1992   76.090  256894189  32003.93224
1617  United States  Americas  1997   76.810  272911760  35767.43303
1618  United States  Americas  2002   77.310  287675526  39097.09955
1619  United States  Americas  2007   78.242  301139947  42951.65309

In [25]:
df.loc[(df['country'] == 'United States') & (df['year'] == 1982)]

            country continent  year  lifeExp        pop    gdpPercap
1614  United States  Americas  1982    74.65  232187835  25009.55914

In [26]:
df.groupby(['continent'])['lifeExp'].mean().round(0).to_frame().sort_values(by=['lifeExp'],ascending=False)

           lifeExp
continent
Oceania       74.0
Europe        72.0
Americas      65.0
Asia          60.0
Africa        49.0

In [27]:
df.groupby(['year'])['lifeExp'].median().round(2).to_frame()

      lifeExp
year
1952    45.14
1957    48.36
1962    50.88
1967    53.82
1972    56.53
1977    59.67
1982    62.44
1987    65.83
1992    67.70
1997    69.39
2002    70.83
2007    71.94

In [28]:
df.loc[(df['continent'] == 'Americas')]

                  country continent  year  lifeExp        pop     gdpPercap
48              Argentina  Americas  1952   62.485   17876956   5911.315053
49              Argentina  Americas  1957   64.399   19610538   6856.856212
50              Argentina  Americas  1962   65.142   21283783   7133.166023
51              Argentina  Americas  1967   65.634   22934225   8052.953021
52              Argentina  Americas  1972   67.065   24779799   9443.038526
53              Argentina  Americas  1977   68.481   26983828  10079.026740
54              Argentina  Americas  1982   69.942   29341374   8997.897412
55              Argentina  Americas  1987   70.774   31620918   9139.671389
56              Argentina  Americas  1992   71.868   33958947   9308.418710
57              Argentina  Americas  1997   73.275   36203463  10967.281950
58              Argentina  Americas  2002   74.340   38331121   8797.640716
59              Argentina  Americas  2007   75.320   40301927  12779.379640
132               Bolivia  Americas  1952   40.414    2883315   2677.326347
133               Bolivia  Americas  1957   41.890    3211738   2127.686326
134               Bolivia  Americas  1962   43.428    3593918   2180.972546
135               Bolivia  Americas  1967   45.032    4040665   2586.886053
136               Bolivia  Americas  1972   46.714    4565872   2980.331339
137               Bolivia  Americas  1977   50.023    5079716   3548.097832
138               Bolivia  Americas  1982   53.859    5642224   3156.510452
139               Bolivia  Americas  1987   57.251    6156369   2753.691490
140               Bolivia  Americas  1992   59.957    6893451   2961.699694
141               Bolivia  Americas  1997   62.050    7693188   3326.143191
142               Bolivia  Americas  2002   63.883    8445134   3413.262690
143               Bolivia  Americas  2007   65.554    9119152   3822.137084
168                Brazil  Americas  1952   50.917   56602560   2108.944355
169                Brazil  Americas  1957   53.285   65551171   2487.365989
170                Brazil  Americas  1962   55.665   76039390   3336.585802
171                Brazil  Americas  1967   57.632   88049823   3429.864357
172                Brazil  Americas  1972   59.504  100840058   4985.711467
173                Brazil  Americas  1977   61.489  114313951   6660.118654
174                Brazil  Americas  1982   63.336  128962939   7030.835878
175                Brazil  Americas  1987   65.205  142938076   7807.095818
176                Brazil  Americas  1992   67.057  155975974   6950.283021
177                Brazil  Americas  1997   69.388  168546719   7957.980824
178                Brazil  Americas  2002   71.006  179914212   8131.212843
179                Brazil  Americas  2007   72.390  190010647   9065.800825
240                Canada  Americas  1952   68.750   14785584  11367.161120
241                Canada  Americas  1957   69.960   17010154  12489.950060
242                Canada  Americas  1962   71.300   18985849  13462.485550
243                Canada  Americas  1967   72.130   20819767  16076.588030
244                Canada  Americas  1972   72.880   22284500  18970.570860
245                Canada  Americas  1977   74.210   23796400  22090.883060
246                Canada  Americas  1982   75.760   25201900  22898.792140
247                Canada  Americas  1987   76.860   26549700  26626.515030
248                Canada  Americas  1992   77.950   28523502  26342.884260
249                Canada  Americas  1997   78.610   30305843  28954.925890
250                Canada  Americas  2002   79.770   31902268  33328.965070
251                Canada  Americas  2007   80.653   33390141  36319.235010
276                 Chile  Americas  1952   54.745    6377619   3939.978789
277                 Chile  Americas  1957   56.074    7048426   4315.622723
278                 Chile  Americas  1962   57.924    7961258   4519.094331
279                 Chile  Americas  1967   60.523    8858908   5106.654313
280                 Chile  Americas  1972   63.441    9717524   5494.024437
281                 Chile  Americas  1977   67.052   10599793   4756.763836
282                 Chile  Americas  1982   70.565   11487112   5095.665738
283                 Chile  Americas  1987   72.492   12463354   5547.063754
284                 Chile  Americas  1992   74.126   13572994   7596.125964
285                 Chile  Americas  1997   75.816   14599929  10118.053180
286                 Chile  Americas  2002   77.860   15497046  10778.783850
287                 Chile  Americas  2007   78.553   16284741  13171.638850
300              Colombia  Americas  1952   50.643   12350771   2144.115096
301              Colombia  Americas  1957   55.118   14485993   2323.805581
302              Colombia  Americas  1962   57.863   17009885   2492.351109
303              Colombia  Americas  1967   59.963   19764027   2678.729839
304              Colombia  Americas  1972   61.623   22542890   3264.660041
305              Colombia  Americas  1977   63.837   25094412   3815.807870
306              Colombia  Americas  1982   66.653   27764644   4397.575659
307              Colombia  Americas  1987   67.768   30964245   4903.219100
308              Colombia  Americas  1992   68.421   34202721   5444.648617
309              Colombia  Americas  1997   70.313   37657830   6117.361746
310              Colombia  Americas  2002   71.682   41008227   5755.259962
311              Colombia  Americas  2007   72.889   44227550   7006.580419
348            Costa Rica  Americas  1952   57.206     926317   2627.009471
349            Costa Rica  Americas  1957   60.026    1112300   2990.010802
350            Costa Rica  Americas  1962   62.842    1345187   3460.937025
351            Costa Rica  Americas  1967   65.424    1588717   4161.727834
352            Costa Rica  Americas  1972   67.849    1834796   5118.146939
353            Costa Rica  Americas  1977   70.750    2108457   5926.876967
354            Costa Rica  Americas  1982   73.450    2424367   5262.734751
355            Costa Rica  Americas  1987   74.752    2799811   5629.915318
356            Costa Rica  Americas  1992   75.713    3173216   6160.416317
357            Costa Rica  Americas  1997   77.260    3518107   6677.045314
358            Costa Rica  Americas  2002   78.123    3834934   7723.447195
359            Costa Rica  Americas  2007   78.782    4133884   9645.061420
384                  Cuba  Americas  1952   59.421    6007797   5586.538780
385                  Cuba  Americas  1957   62.325    6640752   6092.174359
386                  Cuba  Americas  1962   65.246    7254373   5180.755910
387                  Cuba  Americas  1967   68.290    8139332   5690.268015
388                  Cuba  Americas  1972   70.723    8831348   5305.445256
389                  Cuba  Americas  1977   72.649    9537988   6380.494966
390                  Cuba  Americas  1982   73.717    9789224   7316.918107
391                  Cuba  Americas  1987   74.174   10239839   7532.924763
392                  Cuba  Americas  1992   74.414   10723260   5592.843963
393                  Cuba  Americas  1997   76.151   10983007   5431.990415
394                  Cuba  Americas  2002   77.158   11226999   6340.646683
395                  Cuba  Americas  2007   78.273   11416987   8948.102923
432    Dominican Republic  Americas  1952   45.928    2491346   1397.717137
433    Dominican Republic  Americas  1957   49.828    2923186   1544.402995
434    Dominican Republic  Americas  1962   53.459    3453434   1662.137359
435    Dominican Republic  Americas  1967   56.751    4049146   1653.723003
436    Dominican Republic  Americas  1972   59.631    4671329   2189.874499
437    Dominican Republic  Americas  1977   61.788    5302800   2681.988900
438    Dominican Republic  Americas  1982   63.727    5968349   2861.092386
439    Dominican Republic  Americas  1987   66.046    6655297   2899.842175
440    Dominican Republic  Americas  1992   68.457    7351181   3044.214214
441    Dominican Republic  Americas  1997   69.957    7992357   3614.101285
442    Dominican Republic  Americas  2002   70.847    8650322   4563.808154
443    Dominican Republic  Americas  2007   72.235    9319622   6025.374752
444               Ecuador  Americas  1952   48.357    3548753   3522.110717
445               Ecuador  Americas  1957   51.356    4058385   3780.546651
446               Ecuador  Americas  1962   54.640    4681707   4086.114078
447               Ecuador  Americas  1967   56.678    5432424   4579.074215
448               Ecuador  Americas  1972   58.796    6298651   5280.994710
449               Ecuador  Americas  1977   61.310    7278866   6679.623260
450               Ecuador  Americas  1982   64.342    8365850   7213.791267
451               Ecuador  Americas  1987   67.231    9545158   6481.776993
452               Ecuador  Americas  1992   69.613   10748394   7103.702595
453               Ecuador  Americas  1997   72.312   11911819   7429.455877
454               Ecuador  Americas  2002   74.173   12921234   5773.044512
455               Ecuador  Americas  2007   74.994   13755680   6873.262326
468           El Salvador  Americas  1952   45.262    2042865   3048.302900
469           El Salvador  Americas  1957   48.570    2355805   3421.523218
470           El Salvador  Americas  1962   52.307    2747687   3776.803627
471           El Salvador  Americas  1967   55.855    3232927   4358.595393
472           El Salvador  Americas  1972   58.207    3790903   4520.246008
473           El Salvador  Americas  1977   56.696    4282586   5138.922374
474           El Salvador  Americas  1982   56.604    4474873   4098.344175
475           El Salvador  Americas  1987   63.154    4842194   4140.442097
476           El Salvador  Americas  1992   66.798    5274649   4444.231700
477           El Salvador  Americas  1997   69.535    5783439   5154.825496
478           El Salvador  Americas  2002   70.734    6353681   5351.568666
479           El Salvador  Americas  2007   71.878    6939688   5728.353514
600             Guatemala  Americas  1952   42.023    3146381   2428.237769
601             Guatemala  Americas  1957   44.142    3640876   2617.155967
602             Guatemala  Americas  1962   46.954    4208858   2750.364446
603             Guatemala  Americas  1967   50.016    4690773   3242.531147
604             Guatemala  Americas  1972   53.738    5149581   4031.408271
605             Guatemala  Americas  1977   56.029    5703430   4879.992748
606             Guatemala  Americas  1982   58.137    6395630   4820.494790
607             Guatemala  Americas  1987   60.782    7326406   4246.485974
608             Guatemala  Americas  1992   63.373    8486949   4439.450840
609             Guatemala  Americas  1997   66.322    9803875   4684.313807
610             Guatemala  Americas  2002   68.978   11178650   4858.347495
611             Guatemala  Americas  2007   70.259   12572928   5186.050003
636                 Haiti  Americas  1952   37.579    3201488   1840.366939
637                 Haiti  Americas  1957   40.696    3507701   1726.887882
638                 Haiti  Americas  1962   43.590    3880130   1796.589032
639                 Haiti  Americas  1967   46.243    4318137   1452.057666
640                 Haiti  Americas  1972   48.042    4698301   1654.456946
641                 Haiti  Americas  1977   49.923    4908554   1874.298931
642                 Haiti  Americas  1982   51.461    5198399   2011.159549
643                 Haiti  Americas  1987   53.636    5756203   1823.015995
644                 Haiti  Americas  1992   55.089    6326682   1456.309517
645                 Haiti  Americas  1997   56.671    6913545   1341.726931
646                 Haiti  Americas  2002   58.137    7607651   1270.364932
647                 Haiti  Americas  2007   60.916    8502814   1201.637154
648              Honduras  Americas  1952   41.912    1517453   2194.926204
649              Honduras  Americas  1957   44.665    1770390   2220.487682
650              Honduras  Americas  1962   48.041    2090162   2291.156835
651              Honduras  Americas  1967   50.924    2500689   2538.269358
652              Honduras  Americas  1972   53.884    2965146   2529.842345
653              Honduras  Americas  1977   57.402    3055235   3203.208066
654              Honduras  Americas  1982   60.909    3669448   3121.760794
655              Honduras  Americas  1987   64.492    4372203   3023.096699
656              Honduras  Americas  1992   66.399    5077347   3081.694603
657              Honduras  Americas  1997   67.659    5867957   3160.454906
658              Honduras  Americas  2002   68.565    6677328   3099.728660
659              Honduras  Americas  2007   70.198    7483763   3548.330846
780               Jamaica  Americas  1952   58.530    1426095   2898.530881
781               Jamaica  Americas  1957   62.610    1535090   4756.525781
782               Jamaica  Americas  1962   65.610    1665128   5246.107524
783               Jamaica  Americas  1967   67.510    1861096   6124.703451
784               Jamaica  Americas  1972   69.000    1997616   7433.889293
785               Jamaica  Americas  1977   70.110    2156814   6650.195573
786               Jamaica  Americas  1982   71.210    2298309   6068.051350
787               Jamaica  Americas  1987   71.770    2326606   6351.237495
788               Jamaica  Americas  1992   71.766    2378618   7404.923685
789               Jamaica  Americas  1997   72.262    2531311   7121.924704
790               Jamaica  Americas  2002   72.047    2664659   6994.774861
791               Jamaica  Americas  2007   72.567    2780132   7320.880262
984                Mexico  Americas  1952   50.789   30144317   3478.125529
985                Mexico  Americas  1957   55.190   35015548   4131.546641
986                Mexico  Americas  1962   58.299   41121485   4581.609385
987                Mexico  Americas  1967   60.110   47995559   5754.733883
988                Mexico  Americas  1972   62.361   55984294   6809.406690
989                Mexico  Americas  1977   65.032   63759976   7674.929108
990                Mexico  Americas  1982   67.405   71640904   9611.147541
991                Mexico  Americas  1987   69.498   80122492   8688.156003
992                Mexico  Americas  1992   71.455   88111030   9472.384295
993                Mexico  Americas  1997   73.670   95895146   9767.297530
994                Mexico  Americas  2002   74.902  102479927  10742.440530
995                Mexico  Americas  2007   76.195  108700891  11977.574960
1104            Nicaragua  Americas  1952   42.314    1165790   3112.363948
1105            Nicaragua  Americas  1957   45.432    1358828   3457.415947
1106            Nicaragua  Americas  1962   48.632    1590597   3634.364406
1107            Nicaragua  Americas  1967   51.884    1865490   4643.393534
1108            Nicaragua  Americas  1972   55.151    2182908   4688.593267
1109            Nicaragua  Americas  1977   57.470    2554598   5486.371089
1110            Nicaragua  Americas  1982   59.298    2979423   3470.338156
1111            Nicaragua  Americas  1987   62.008    3344353   2955.984375
1112            Nicaragua  Americas  1992   65.843    4017939   2170.151724
1113            Nicaragua  Americas  1997   68.426    4609572   2253.023004
1114            Nicaragua  Americas  2002   70.836    5146848   2474.548819
1115            Nicaragua  Americas  2007   72.899    5675356   2749.320965
1176               Panama  Americas  1952   55.191     940080   2480.380334
1177               Panama  Americas  1957   59.201    1063506   2961.800905
1178               Panama  Americas  1962   61.817    1215725   3536.540301
1179               Panama  Americas  1967   64.071    1405486   4421.009084
1180               Panama  Americas  1972   66.216    1616384   5364.249663
1181               Panama  Americas  1977   68.681    1839782   5351.912144
1182               Panama  Americas  1982   70.472    2036305   7009.601598
1183               Panama  Americas  1987   71.523    2253639   7034.779161
1184               Panama  Americas  1992   72.462    2484997   6618.743050
1185               Panama  Americas  1997   73.738    2734531   7113.692252
1186               Panama  Americas  2002   74.712    2990875   7356.031934
1187               Panama  Americas  2007   75.537    3242173   9809.185636
1188             Paraguay  Americas  1952   62.649    1555876   1952.308701
1189             Paraguay  Americas  1957   63.196    1770902   2046.154706
1190             Paraguay  Americas  1962   64.361    2009813   2148.027146
1191             Paraguay  Americas  1967   64.951    2287985   2299.376311
1192             Paraguay  Americas  1972   65.815    2614104   2523.337977
1193             Paraguay  Americas  1977   66.353    2984494   3248.373311
1194             Paraguay  Americas  1982   66.874    3366439   4258.503604
1195             Paraguay  Americas  1987   67.378    3886512   3998.875695
1196             Paraguay  Americas  1992   68.225    4483945   4196.411078
1197             Paraguay  Americas  1997   69.400    5154123   4247.400261
1198             Paraguay  Americas  2002   70.755    5884491   3783.674243
1199             Paraguay  Americas  2007   71.752    6667147   4172.838464
1200                 Peru  Americas  1952   43.902    8025700   3758.523437
1201                 Peru  Americas  1957   46.263    9146100   4245.256698
1202                 Peru  Americas  1962   49.096   10516500   4957.037982
1203                 Peru  Americas  1967   51.445   12132200   5788.093330
1204                 Peru  Americas  1972   55.448   13954700   5937.827283
1205                 Peru  Americas  1977   58.447   15990099   6281.290855
1206                 Peru  Americas  1982   61.406   18125129   6434.501797
1207                 Peru  Americas  1987   64.134   20195924   6360.943444
1208                 Peru  Americas  1992   66.458   22430449   4446.380924
1209                 Peru  Americas  1997   68.386   24748122   5838.347657
1210                 Peru  Americas  2002   69.906   26769436   5909.020073
1211                 Peru  Americas  2007   71.421   28674757   7408.905561
1248          Puerto Rico  Americas  1952   64.280    2227000   3081.959785
1249          Puerto Rico  Americas  1957   68.540    2260000   3907.156189
1250          Puerto Rico  Americas  1962   69.620    2448046   5108.344630
1251          Puerto Rico  Americas  1967   71.100    2648961   6929.277714
1252          Puerto Rico  Americas  1972   72.160    2847132   9123.041742
1253          Puerto Rico  Americas  1977   73.440    3080828   9770.524921
1254          Puerto Rico  Americas  1982   73.750    3279001  10330.989150
1255          Puerto Rico  Americas  1987   74.630    3444468  12281.341910
1256          Puerto Rico  Americas  1992   73.911    3585176  14641.587110
1257          Puerto Rico  Americas  1997   74.917    3759430  16999.433300
1258          Puerto Rico  Americas  2002   77.778    3859606  18855.606180
1259          Puerto Rico  Americas  2007   78.746    3942491  19328.709010
1548  Trinidad and Tobago  Americas  1952   59.100     662850   3023.271928
1549  Trinidad and Tobago  Americas  1957   61.800     764900   4100.393400
1550  Trinidad and Tobago  Americas  1962   64.900     887498   4997.523971
1551  Trinidad and Tobago  Americas  1967   65.400     960155   5621.368472
1552  Trinidad and Tobago  Americas  1972   65.900     975199   6619.551419
1553  Trinidad and Tobago  Americas  1977   68.300    1039009   7899.554209
1554  Trinidad and Tobago  Americas  1982   68.832    1116479   9119.528607
1555  Trinidad and Tobago  Americas  1987   69.582    1191336   7388.597823
1556  Trinidad and Tobago  Americas  1992   69.862    1183669   7370.990932
1557  Trinidad and Tobago  Americas  1997   69.465    1138101   8792.573126

In [29]:
df.loc[(df['continent'] == 'Americas')].groupby(['year'])['lifeExp'].median().round(2).to_frame()

      lifeExp
year
1952    54.74
1957    56.07
1962    58.30
1967    60.52
1972    63.44
1977    66.35
1982    67.40
1987    69.50
1992    69.86
1997    72.15
2002    72.05
2007    72.90

In [30]:
import numpy as np
df.groupby(['year'])['lifeExp'].agg(np.mean).round(2)

year
1952    49.06
1957    51.51
1962    53.61
1967    55.68
1972    57.65
1977    59.57
1982    61.53
1987    63.21
1992    64.16
1997    65.01
2002    65.69
2007    67.01
Name: lifeExp, dtype: float64

In [31]:
42 min

SyntaxError: invalid syntax (<ipython-input-31-649118d69a6b>, line 1)