In [12]:
num_strings = {'zero':0,
              'one':1,
              'two':2,
              'three':3,
              'four':4,
              'five':5,
              'six':6,
              'seven':7,
              'eight':8,
              'nine':9,
              'ten':10,          
              'eleven':11,
              'twelve':12,
              'thirteen':13,
              'fourteen':14,
              'fifteen':15,}

In [13]:
def clean_value(val):
    if isinstance(val,int):
        return val
    if isinstance(val,str) and val in num_strings.keys():
        return num_strings[val]
    if isinstance(val,str):
        return int(val)
clean_value('10')

10

#### convert list of str ints to ints

In [56]:
list = ['1','2','3','4','5','6','7','8','9','10',]

#### clone list

In [159]:
def clone_list(list):
    new_clone_list = []
    for iv in list:
        new_clone_list.append(iv)
    return new_clone_list

In [160]:
clone_list(list)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

#### convert from str to int

In [67]:
def str_to_int(list):
    upd_list = []
    for iv in list:
        #print(iv)
        upd_list.append(clean_value(iv))
    return upd_list

In [68]:
str_to_int(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### convert list of str int names to ints

In [76]:
list_of_intnames = ['one','two','three','four','five',]

In [77]:
list_of_intnames

['one', 'two', 'three', 'four', 'five']

#### clone list

In [116]:
def clone_list_of_intnames(list):
    clone_list_of_intnames = []
    for iv in list:
        clone_list_of_intnames.append(iv)
    return clone_list_of_intnames

In [117]:
clone_list_of_intnames(list_of_intnames)

['one', 'two', 'three', 'four', 'five']

####  convert list of mixed data types to ints

In [99]:
mixed_list = [1,'2','three',4,'5','six',7,'8','nine',]

In [100]:
mixed_list

[1, '2', 'three', 4, '5', 'six', 7, '8', 'nine']

#### clone list

In [118]:
def clone_list_of_mixed(list):
    clone_list_of_mixed = []
    for iv in list:
        clone_list_of_mixed.append(iv)
    return clone_list_of_mixed

In [119]:
clone_list_of_mixed(mixed_list)

[1, '2', 'three', 4, '5', 'six', 7, '8', 'nine']

#### convert all to int

In [106]:
def convert_list_of_mixed(list):
    clean_list_of_mixed = []
    for iv in list:
        clean_list_of_mixed.append(clean_value(iv))
    return clean_list_of_mixed

In [107]:
convert_list_of_mixed(mixed_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### convert from str int name to int

In [73]:
def convert_strname_to_int(list):
    upd_list = []
    for iv in list:
        upd_list.append(clean_value(iv))
    return upd_list

In [74]:
convert_strname_to_int(list_of_intnames)

[1, 2, 3, 4, 5]

#### convert list w/ str ints to ints

In [14]:
list_of_lists = [[1,2,3],[5,6,7],]

In [15]:
list_of_lists

[[1, 2, 3], [5, 6, 7]]

In [16]:
list_of_lists[1][2]

7

#### clone list of lists

In [10]:
def clone_list_of_list(lol):
    cloned_list_of_list = []
    for l in lol:
        #print(clone_list(l))
        cloned_list_of_list.append(l)
    return cloned_list_of_list

In [11]:
clone_list_of_list(list_of_lists)

[[1, 2, 3], [5, 6, 7]]

In [17]:
def clean_lol(list):
    new_clean_lol = []
    for iv in list:
        #for element in iv:
         #   print(element)
        new_clean_lol.append(clean_value(iv))
    return new_clean_lol

In [18]:
clean_lol(list_of_lists)

[None, None]