# Data structures:  definitions + manipulations....

## Lists

### Definition

Lists are used to store multiple items in a single variable. ordered, mutable, dupes AOK

In [3]:
list = [1,2,3,4,4]

### element access:

In [75]:
l = [1,2,3,4,4,4,5,6,7]

In [76]:
l[3]

4

#### take elements from beginning until position 2 (position 2-ith):

In [77]:
l[:2]

[1, 2]

#### take elements from before going back two elements from end:

In [78]:
l[:-2]

[1, 2, 3, 4, 4, 4, 5]

### append element to list:

In [4]:
fruits = ['apple','orange','banana','cherry','pinapple','mango','raspberries']

In [38]:
fruits.append('blueberries')

In [39]:
fruits

['apple',
 'orange',
 'banana',
 'cherry',
 'pinapple',
 'mango',
 'raspberries',
 'blueberries']

## clear list:

In [11]:
list_of_things = ['a','b','c','d','e']

In [12]:
print(list_of_things)

['a', 'b', 'c', 'd', 'e']

In [13]:
list_of_things.clear()

In [14]:
print(list_of_things)

[]

### count # times element is in list:

In [17]:
vowels = ['a', 'e', 'i', 'o', 'o', 'i', 'u']

In [19]:
vowels.count('o')

2

### insert element at specified index:

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'o', 'i', 'u']

In [21]:
vowels.insert(1,'z')

In [22]:
print(vowels)

['a', 'z', 'e', 'i', 'o', 'o', 'i', 'u']

## remove element from list:

In [5]:
fruits.pop(2)

'banana'

In [6]:
fruits

['apple', 'orange', 'cherry', 'pinapple', 'mango', 'raspberries']


## reverse list:

In [9]:
l[::-1]

[4, 3, 2, 1]

## find index of first occurrence of element:

In [23]:
vowels = ['a', 'e', 'i', 'o', 'o', 'i', 'u']

In [24]:
vowels.index('o')

3

## sort elements in list:

In [37]:
vowels = ['e', 'u', 'o', 'a', 'i']

In [44]:
vowels.sort()

In [43]:
print(vowels)

['a', 'e', 'i', 'o', 'u']

## extend/append iterables (list, tuple, string...) to a list:

In [28]:
veggies = ['cabbage','carrots','broccoli','kale','chard']

In [30]:
fruits.extend(veggies)

In [31]:
print(fruits)

['apple', 'orange', 'cherry', 'pinapple', 'mango', 'raspberries', 'cabbage', 'carrots', 'broccoli', 'kale', 'chard']

## check for existence of elements in a string

In [60]:
'dog' in 'balloon'

False

In [59]:
'dog' in 'hotdog'

True

 # Tuple

 ### Definition:

Tuples are used to store multiple items in a single variable.  immutable, ordered, dupes AOK

In [45]:
str_tuple = ('1','2','3','4','4')

 ### element access:

You can access tuple items by referring to the item index number inside square brackets.

In [47]:
thistuple = ("apple", "banana", "cherry")

In [48]:
print(thistuple[1])

banana

 ## reversing

-1 refers to the last item, -2 refers to the second last item, etc.

In [52]:
thistuple = ("apple", "banana", "cherry")

In [55]:
a = thistuple[::-1]
a

('cherry', 'banana', 'apple')

## append value to tuple?!?

In [57]:
#NOTE:  this will fail; tuples are immutable.

a[2] = 'asdfads'

TypeError: 'tuple' object does not support item assignment

# cannot delete elements of a tuple, but CAN delete tuple itself:

In [33]:
int_tuple = ('1','2','3','4','4')

In [34]:
del int_tuple

In [35]:
print(int_tuple)

NameError: name 'int_tuple' is not defined

 # Dictionaries

## Definition

Dictionaries are used to store data in key:value pairs.

A dictionary is a collection that is both ordered and changeable.  Duplicate keys aren't AOK.  Duplicate values are AOK.

In [ ]:
dictionary = {a: ['1','2','3','4']}

 ## value access:

You can access the values in a dictionary by referring to its key inside square brackets.

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}

In [80]:
thisdict['brand']

'Ford'

In [79]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [64]:
x = thisdict["model"]
print(x)

Mustang

## to get a list of dictionary keys:

In [68]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

## how to iterate over dictionary keys:

In [69]:
for key in thisdict.keys():
    print(key)

brand
model
year

## to get dictionary values:

In [67]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

## how to iterate over dictionary values:

In [70]:
for iv in thisdict.values():
    print(iv)

Ford
Mustang
1964

In [74]:
#remember this--outputs key-value sets

for key in thisdict:
   #print(key)
    print(key, thisdict[key])

brand Ford
model Mustang
year 1964

## reversing:

Reversing a dictionary inverts each key-value pair in the dictionary. 
For example, reversing {"a": 1, "b": 2} results in {1: "a", 2: "b"}.

# sets

A set is a collection that is both unordered and unindexed.  immutable; hell no to 
dupes.  store +1 item in a single variable

Sets are written with curly brackets.

In [ ]:
sets = {"apple", "banana", "cherry"}

### accessing:

You cannot access items in a set by referring to either an index or a key.

But you can loop through the set items using a 'for' loop, or ask if a specified value is present in a set by using the in keyword.

In [31]:
fruit_list = {"apple", "banana", "cherry"}

In [32]:
for fruit in fruit_list:
  print(fruit)

apple
cherry
banana

In [26]:
fruit_list = {"apple", "banana", "cherry"}

In [27]:
print("banana" in fruit_list)

True

## Iterations--'for' loops are our buddies

A 'for' loop is used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).

In [28]:
fruits = ["apple", "banana", "cherry"]

In [30]:
for fruit in fruits:
  print(fruit)

apple
banana
cherry